KEY_PASSPHRASE=
CERTIFICATE_PATH=
TRUST_STORE_PASSWORD=
TRUST_STORE_PATH=
RABBITMQ_HOST=
RABBITMQ_PORT=
SCENARIO_DURATION=
SAMU_GPS_SCENARIO_USER_COUNT=
SAMU_NEXSIS_CONVERSION_SCENARIO_USER_COUNT=
SAMU_NEXSIS_DIRECT_SCENARIO_USER_COUNT=