slack-bolt~=1.23.0
langchain~=0.3.24
langchain-openai~=0.3.14
langchain-community~=0.3.22
langchain-core~=0.3.56
langchain-chroma~=0.2.3
chromadb~=0.6.3
openai~=1.76.0
python-dotenv~=1.1.0
pypdf~=5.4.0
