# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore Maven build
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# ignore IntelliJ directory
.idea
*.iws
*.iml
*.ipr

python/templates/4. tls/cert/

# Certificates
certs/CA/
!certs/CA/sign.sh
!certs/CA/rootCA.crt
