# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore Maven build
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# ignore IntelliJ directory
.idea
*.iws
*.iml
*.ipr

python/templates/4. tls/cert/

# Certificates
certs/CA/
!certs/CA/sign.sh
!certs/CA/rootCA.crt
!certs/CA/hub.ext
!certs/CA/client.ext
certs/users/

# Needed as GitHub action for AsyncAPI generation installs npm packages
node_modules/
package-lock.json
package.json

# Class generation
models/node_modules

# Cluster access configs
kubeconfig.yml
