# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore Maven build
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# ignore IntelliJ directory
.idea
*.iws
*.iml
*.ipr
**/.DS_Store

python/templates/4. tls/cert/

# Certificates
certs/CA/
certs/environments/
!certs/CA/sign.sh
!certs/CA/rootCA.crt
!certs/CA/rootCATrue.crt
!certs/CA/hub.ext
!certs/CA/hub.preprod.ext
!certs/CA/rabbitmq.ext
!certs/CA/client.ext
!certs/dispatcher.tmp.p12
certs/users/
certs/sslforfree/

# personal application.properties
hub/dispatcher/src/main/resources/*.properties
!hub/dispatcher/src/main/resources/application.properties
!hub/dispatcher/src/main/resources/application-local.properties

# Needed as GitHub action for AsyncAPI generation installs npm packages
node_modules/
package-lock.json
package.json

# Class generation
models/node_modules

# Cluster access configs
kubeconfig.yml

# Models
# - Excel model
#models/csv_parser/model.xlsx
# - Example Word tables styles
models/csv_parser/docx-styles/
