.btn-list>a {
    margin-right: 30px;
}

/* Fixing anchor links behind header |
   Ref.: https://gomakethings.com/how-to-prevent-anchor-links-from-scrolling-behind-a-sticky-header-with-one-line-of-css
*/
h3 {
    scroll-margin-top: var(--header-min-height);
}

@media (max-width: 35.98em) {
    h3 {
        /* Mobile view has header__title with title below header */
        scroll-margin-top: calc(var(--header-min-height) + 35px);
    }
}

:root {
    /* Pour la bannière | Ref.: https: //ansforge.github.io/DesignSystem/sg-bloc-banner.html */
    --main-margin-top: 0;
    /* Pour ne pas avoir de marge avant le footer */
    --main-margin-bottom: 0;
}

/* Toutes les nuances de gris en fond */
.bg-gray-800 {
    background-color: var(--gray-800)
}

.bg-gray-700 {
    background-color: var(--gray-700)
}

.bg-gray-600 {
    background-color: var(--gray-600)
}

.bg-gray-500 {
    background-color: var(--gray-500)
}

.bg-gray-400 {
    background-color: var(--gray-400)
}

.bg-gray-300 {
    background-color: var(--gray-300)
}

.bg-gray-200 {
    background-color: var(--gray-200)
}

.bg-gray-100 {
    background-color: var(--gray-100)
}

.m-teaser__img img {
    height: 190px;
    object-fit: cover;
}

/* https: //getpublii.com/blog/one-line-css-solution-to-prevent-anchor-links-from-scrolling-behind-a-sticky-header.html */
html {
    scroll-padding-top: 113px;
}

/* Tableau des versions */

/* Décommissionnée */
#table-versions .deprecated {
    text-align: center;
    color: #c5c8da;
    text-decoration: line-through;
}

/* Active */
#table-versions .active {
    text-align: center;
    background-color: #f0f6e4 !important;
}

/* Fin de vie planifiée */
#table-versions .eol-planned {
    text-align: center;
    background-color: #fdf3e3 !important;
}

 
/* Map */
#div-map .department {
  fill: var(--gray-400);
  stroke: var(--white);
  cursor: pointer;
  stroke-width: 0.6;
}
 
#div-map .department:hover {
  fill: var(--gray-500);
  cursor: "pointer";
}
 
#div-map .department.selected {
  fill: var(--gray-500);
  transition: fill 0.3s ease;
}
 
#div-map .department.prod {
  fill: var(--primary);
}
 
#div-map .department.prod:hover {
  fill: var(--primary-darker);
}
 
#div-map .department.prod.selected {
  fill: var(--primary-darker);
  transition: fill 0.3s ease;
}
 
 /* Tableau des éditeurs */

#table-editeurs td {
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  border-left-width: 1px;
}

/* Tests ANS validés */
#table-editeurs .test {
  text-align: center;
  background-color: #FFF2F9;
  padding: 2px 6px; 
  border-radius: 3px;
}

/* En production */
#table-editeurs .active {
  text-align: center;
  background-color: #f0f6e4 !important;
  padding: 2px 6px; 
  border-radius: 3px;
}

/* En développement */
#table-editeurs .dev {
  text-align: center;
  background-color: #fdf3e3 !important;
  padding: 2px 6px; 
  border-radius: 3px;
}

#table-editeurs tbody tr:last-child td:first-child {
    border-radius: inherit !important;
}