body {
  background-color: var(--white);
}

#first-section {
  /* height: calc(100vh - var(--header-min-height)); */
  display: flex;
  flex-direction: column;
}

#second-section {
  padding-top: 3rem;
}

/* Modale */
.modal-content {
  padding: 20px 30px;
  width: 70%;
}

/* Map */
.department {
  fill: var(--gray-400);
  stroke: var(--white);
  cursor: pointer;
  stroke-width: 0.6;
}

.department:hover {
  fill: var(--gray-500);
  cursor: "pointer";
}

.department.selected {
  fill: var(--gray-500);
  transition: fill 0.3s ease;
}

.department.prod {
  fill: var(--primary);
}

.department.prod:hover {
  fill: var(--primary-darker);
}

.department.prod.selected {
  fill: var(--primary-darker);
  transition: fill 0.3s ease;
}
