export RABBIT_MQ_IMAGE=docker.io/bitnamilegacy/rabbitmq:4.0.2-debian-12-r0

export CONVERTER_IMAGE=ghcr.io/ansforge/hub-converter:2.6.1
export CONVERTER_PORT=8083

export DISPATCHER_1_IMAGE=ghcr.io/ansforge/dispatcher:1.8.7-model-3.3.0
export DISPATCHER_1_VHOST=15-15_v2.1
export DISPATCHER_1_PORT=8080

export DISPATCHER_2_IMAGE=ghcr.io/ansforge/dispatcher:1.8.7-model-1.3.0
export DISPATCHER_2_VHOST=15-15_v1.5
export DISPATCHER_2_PORT=8081

export DISPATCHER_3_IMAGE=ghcr.io/ansforge/dispatcher:1.8.7-model-3.3.0
export DISPATCHER_3_VHOST=15-nexsis_v1.9
export DISPATCHER_3_PORT=8082

export DISPATCHER_KEYSTORE_FILE=dispatcher.p12
export DISPATCHER_KEYSTORE_PASSWORD=password

export DISPATCHER_TRUSTSTORE_FILE=trustStore
export DISPATCHER_TRUSTSTORE_PASSWORD=password
