HUB_URL=amqps://messaging.integration.hub.esante.gouv.fr
LRM_PASSPHRASE=CHANGE_ME_mock_cert_password
GITHUB_TOKEN=mock_github_token
ADMIN_PASSWORD=mock_admin_password
VHOST_CLIENT_MAP={"15-15_v2.1": ["fr.health.test.samuA", "fr.health.test.samuB"]}
LOG_LEVEL=info
