TRUST_STORE_PATH=
TRUST_STORE_PASSWORD=
CERTIFICATE_PATH=
KEY_PASSPHRASE=
EDXL_EXAMPLE_FILE_PATH_V1=<path_to_repo>/tnr/data/edxl-v1.json
EDXL_EXAMPLE_FILE_PATH_V3=<path_to_repo>/tnr/data/edxl-v3.json
HUB_HOSTNAME=localhost
HUB_PORT=5671
EXCHANGE_NAME=hubsante
GITHUB_TOKEN=